.v-depot a {
color: inherit;
}

.v-depot .depot-caption {
	background: #F5F5F5;
	padding: 6px;
	padding-left: 20px;
	font-weight: bold;
}

.v-depot .depot-caption {
	background: #F5F5F5;
	padding: 6px;
	padding-left: 20px;
	font-weight: bold;
}

.v-depot-closed > tbody > tr > td > a > .depot-caption {
  background-image: url(img/arrow-right.png);
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.v-depot-open > tbody > tr > td > a > .depot-caption {
  background-image: url(img/arrow-down.png);
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.v-depot-closed.v-disabled > tbody > tr > td > a > .depot-caption {
	/* TODO Disabled images for disclosure */
  background-image: url(img/arrow-right-disabled.png);
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.v-depot-open.v-disabled > tbody > tr > td > a > .depot-caption {
	/* TODO Disabled images for disclosure */
  background-image: url(img/arrow-down-disabled.png);
  background-repeat: no-repeat;
  background-position: 5px 9px;
}

.v-depot.v-disabled,
.v-depot.v-disabled .caption,
.v-ie8 .v-depot.v-disabled .caption {	
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}